{% macro respuesta (respuestaEnviada) %}
    <h2>Respuesta</h2>
    <div> class = "Respuesta"
        <!--Encuadrar la respuesta (todavia no)-->
        <!--Quien ha respondido...-->
        <!--Hace cuánto ha respondido...-->
        <!--Respuesta a la pregunta...-->
        <!--Feedback positivo a la pregunta...-->
        <!--Feedback negativo a la pregunta...-->
        <!--Feedback neutro a la pregunta...-->
        <!--Botón voto a la pregunta...-->
        <!--Añadir comentario ???...-->
        <!--Botón para reportar la respuesta...-->
    </div>
{% endmacro %}



  






