{% macro registro() %}
{% from "macros/buttons.html" import submit_button %}

<section id="registro">
    <h2> Nuevo usuario </h2>
    <form action="registro" method="post">
        <label for="user"> Nombre de Usuario </label>
        <input type="text" name="user" placeholder="Usuario" />

        <label for="pass"> Contraseña </label>
        <input type="password" name="pass" placeholder="contraseña" />

        <label for="re_pass"> Repite la contraseña </label>
        <input type="password" name="re_pass" placeholder="" />

        <p class="aligncenter">{{ submit_button('bluebg', 'Registrarse') }}</p>
    </form>
</section>

{% endmacro %}