body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 0;
}

a {
    text-decoration: none;
}

#page-top {
    height: 1em;
    padding: 0.5em;
    font-size: 90%;
    background-color: #333;
    color: #eee;
}

#page-top a {
    color: #aaa;
}

#page-top a:hover {
    color: #fff;
}

#session-info {
    position: absolute;
    right: 0.5em;
    display: inline-block;
}

#nav {
    display: inline-block;
}

#nav #navlinks {
    margin: 0;
    padding-inline-start: 0;
}

#navlinks li {
    display: inline-block;
    margin: 0 0.5em;
}

#footer {
    padding: 1em;
    background-color: #eee;
    border-top: 2px solid #ddd;
    margin-top: 1em;
    font-size: smaller;
    color: #777;
}

#footer p {
    margin: 0;
}

#flashedmessages {
    padding: 0.2em 0;
    border-radius: 2em  2em 0 0;
    z-index: 100;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}

#flashedmessages ul {
    margin: 0;
}

#main-content {
    padding: 1em;
}

#contentheader {
    padding: 1em;
    margin: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

#contentheader h1,h2 {
    margin: 0.2em 0;
}

#contentheader p{
    font-size: medium;
}

#contentheader a{
    font-size: medium;
}

#contentheader h2 {
    color: #9b0015;
}

a {
    color: #253aa7;
}

dd {
    font-size: smaller;
    color: #888;
}

table {
    border-collapse: collapse;
}

table tr:last-child {
    border-bottom: 1px solid #eee;
}

table th {
    border-bottom: 1px solid #eee;
}

#login-form {
    margin: auto;
    width: fit-content;
}

#login-form input {
    display: block;
    margin: 0.5em 0;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.fillwidth {
    width: 100%;
}

.highlightrows tr.highlightable:hover {
    background-color: #eee;
}

.button {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: 0.1em solid transparent;
    margin: 0.2em;
    box-shadow: 0 1px inset rgb(255 255 255 / 50%);
    text-shadow: 0 -1pt black;
    display: inline-block;
}

.button:hover,.button:active,.button:focus {
    border-color: black;
}

.button:active {
    box-shadow: 0 0.3em 0.1em inset rgb(0 0 0 / 20%);
}

.greenbg {
    background-color: #1cbd4c;
    color: #fff;
}

.greenbg a {
    color: #fff;
}

.bluebg {
    background-color: #253aa7;
    color: #fff;
}

.bluebg a {
    color: #fff;
}

.redbg {
    background-color: #9b0015;
    color: #fff;
}

.redbg a {
    color: #fff;
}

.yellowbg {
    background-color: #ffc930;
    color: #000;
}

.yellowbg a {
    color: #000;
}

.greenbg {
    background-color: #167c24;
    color: #fff;
}

.greenbg a {
    color: #fff;
}

.graybg {
    background-color: #444444;
    color: #fff;
}

.graybg a {
    color: #fff;
}

.questiondiv {
    margin: 10px;
    padding: 5px;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
}

.questiontext {
    margin-top: 0;
}

.questionscore {
    font-size: smaller;
    color: #777;
}

/* Pagina de inico 
*  Alvar [14/11/2022]
*/

.container2cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Editor de respuestas
*  Alvar [14/11/2022]
*/

textarea {
    padding: .2em;
    border: 0em;
}

textarea:focus {
    outline: .2em;
}

.marco_texto{
    padding: .5em .1em 0em .1em;
    /* border-radius: .5em; */
    border: .1em solid #777;
    width: fit-content;
    margin: 0;
}

#editor_respuesta {
    width: fit-content;
    border-radius: .5em;
    border-style: solid;
}

/* Respuesta
*  Alvar [14/11/2022]
*/

.respuesta_div {
    margin: .5em;
    padding: 0em .2em;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
}

.respuesta_texto {
    width: 100%;
}

#votos {
    width: 5em;
    display: flex;
    flex-direction: column;
}

.respuesta_div .container2cols {
    justify-content: flex-start;
}

.contenedor_respuestas {
    margin: 0em 0em 0em 2em;
}

/* Comentario
*  Alvar [14/11/2022]
*/

.contenido_comentario {
    width: 100%;
    height: 100%;
}

.contenido_comentario p{
    height: 100%;
    vertical-align: middle; 
}


.comentario_div {
    margin: .5em;
    border: #ddd 1px solid;
    border-left: #ddd 5px solid;
    padding: 0em .2em;
}

.metadatos_comentario {
    display: flex;
    justify-content: flex-start;
}

.metadatos_comentario * {
    margin: .2em .4em;
}

/* Contenedor de preguntas
* Alvar [24/11/2022]
*/

#preguntas {
    width: 45%;
}