{% macro button(color_class, href, content, onclick=None) %}
<a class="button {{ color_class }}" href="{{ href }}" {% if onclick %}onclick="{{ onclick }}"{%endif%}>{{ content }}</a>
{% endmacro %}

{% macro submit_button(color_class, content) %}
{{ button(color_class, '#', content, 'this.closest(\'form\').submit();return false;') }}
{% endmacro %}

<!--MACRO PARA CREAR BOTON DE VOTO POSITIVO (FALTA IMPLEMENTAR QUE DETECTE SI YA SE PULSÓ ANTERIORMENTE)-->
{% macro voto_positivo_button(votos_positivos) %}
{% set nombre = "👍 "+(votos_positivos|string) %}
{{ button(greenbg, '#', nombre, 'this.voteUp()') }}
{% endmacro %}


<!--MACRO PARA CREAR BOTON DE VOTO NEGATIVO (FALTA IMPLEMENTAR QUE DETECTE SI YA SE PULSÓ ANTERIORMENTE)-->
{% macro voto_negativo_button(votos_negativos) %}
{% set nombre = "👎 "+(votos_negativos|string) %}
{{ button(redbg, '#', nombre, 'this.voteDown()') }}
{% endmacro %}

