{% extends "base.html" %}
{% from "macros/buttons.html" import button, submit_button, reset_button %}
{% block title %}Log in{% endblock %}
{% block pagecontent %}
<div id="preguntas-form">
    <h2 class="aligncenter">Realiza una pregunta</h2><br>
    <form action="/action_page.php" id="formulario">
        <label for="titulo">Titulo de la pregunta:</label><br>
        <input type="text" id="titulo" name="titulo" size="100"><br><br>
        <label for="detalles">¿Cuales son los detalles de la pregunta?:</label><br>
        <textarea id="detalles" rows="10" cols="117" name="detalles" form="formulario"></textarea><br><br>
        <p class="aligncenter">{{button("greenbg","/home","Enviar Pregunta",())}}</p>-->
        <p class="aligncenter">{{button("graybg","/crear_pregunta","Vaciar Campos",())}}</p><br>
    </form>
</div>
{% endblock %}


