{% extends "base_logged_in.html" %}

{% from "macros/buttons.html" import button, submit_button %} 
{% from 'macros/respuestas/respuesta.html' import respuesta %} 
{% from "macros/respuestas/contenedor_respuestas.html" import contenedor_respuestas %}
{% from "macros/preguntas/contenedor_preguntas.html" import contenedor_preguntas %}



{% block title %}Home{% endblock %}

{% block contentheading %}Home{% endblock %}

{% block maincontent %}
    <h2>Preguntas recientes</h2> 
        {{button("greenbg","/crear_pregunta","Crear nueva",())}}
    </div>
    {{ contenedor_preguntas(preguntas) }}
{% endblock %}

