{% extends "base_logged_in.html" %}
{% from 'macros/preguntas/preguntas_container.html' import preguntas %}
{% from "macros/buttons.html" import button %}
<!-- Solo como test -->
{% from 'macros/preguntas/formulario_respuesta.html' import form_respuesta %}

{% block title %}Home{% endblock %}

{% block contentheading %}Home{% endblock %}

{% block maincontent %}
    <div>
        <h2>Preguntas recientes</h2> 
        {{button("greenbg","/nueva_pregunta","Crear nueva",())}}
    </div>
    {{ preguntas() }}
    <!-- Solo como test -->
    {{ form_respuesta(1234) }}
{% endblock %}
