{% extends "inicio/base_anon.html" %}
{% from 'macros/preguntas/contenedor_preguntas.html' import preguntas %}
{% from 'macros/preguntas/pregunta.html' import pregunta %}
{% from 'macros/auth/registro.html' import registro %}
{% from "macros/respuestas/contenedor_respuestas.html" import contenedor_respuestas %}

{% block title %} {{ pregunta_env.tituloPregunta }} {% endblock %}


{% block contentheading %}
    <h1> Pregunta {{pregunta_env.id}}</h1>
{% endblock %}

{% block maincontent %}
    <div>
        {{pregunta(pregunta_env)}}
    </div>
    <div>
        {{contenedor_respuestas(respuestas_env)}}
    </div>
{% endblock %}