{% extends "inicio/base_anon.html" %}
{% from 'macros/auth/registro.html' import registro %}

{% from 'macros/preguntas/contenedor_preguntas.html' import contenedor_preguntas %}

{% block title %} Inicio {% endblock %}

{% block contentheading %}
    <h1> Bienvenidos a la app de preguntas</h1>
{% endblock %}

{% block maincontent %}
    <div class="container2cols">

        <div id="registro">
            {{ registro() }}
        </div>
        
        <div id="pregutas">
            <h2>Preguntas recientes</h2>
            {{ contenedor_preguntas(preguntas) }}
        </div>
    </div>
{% endblock %}