<!--Imports de los botones de votacion-->
{% from '../buttons.html' import voteUp_button %}
{% from '../buttons.html' import voteDown_button %}

<!--Pregunta en formato de titulo-->
{% macro tituloPregunta(titulo) %}
<h2 class="questiontext">{{titulo}}</h2>
{% endmacro %}

<!--Macro de los datos de pregunta(quien pregunto, fecha...)-->
{% macro datosPregunta(usuario,fecha) %}
<div class="datosPregunta">
    <p>Preguntado por:{{usuario}}</p>
    <p>Fecha de la pregunta:{{fecha}}</p>
</div>
{% endmacro %}

<!--Implementacion de los botones de votacion-->
{{ voteUp_button }}
{{ voteDown_button }}

<!--Macro del cuerpo de la pregunta-->
{% macro cuepoPregunta(descripcion) %}
<div class="questiondiv">
    <p>{{descripcion}}</p>
</div>
{% endmacro %}
